* {
  box-sizing: border-box;
}

:root {
  --custom-color: #00b8e6;
  --nature: #fff;
  --hover: #008fb3;
  --zero: #000;
  --grey: #d8d2d8;
  --accent: #007a99;
  --sucess-color: rgb(6, 112, 6);
  --error-color: rgb(255, 0, 0);
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--zero);
}

.form-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--custom-color);
  overflow-y: scroll;
}

.form-container {
  width: 60%;
  max-width: 26rem;
  height: max-content;
  margin: auto;
  padding: 1.5rem;
  background-color: var(--nature);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--grey);
}

#form-heading {
  margin: 8px 0;
  font-size: 24px;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.form-control {
  width: inherit;
}

label {
  display: block;
  padding: 0.25rem 0;
}

input,
#requestSpan,
#enquirySpan {
  width: inherit;
  border-radius: 5px;
  padding: 0.75rem;
  border: 2px solid var(--grey);
  font-size: 14px;
  color: var(--custom-color);
}

.radioBox {
  display: flex;
  gap: 0.5rem;
  width: inherit;
}

.radioBtn {
  width: auto;
}

.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 60%;
  height: 35px;
  border-radius: 5px;
  border: 2px solid;
}

.pointer {
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #00a3cc;
}

input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid var(--accent);
}

textarea {
  width: 100%;
  border: 2px solid var(--grey);
  border-radius: 5px;
  font-size: 1rem;
  resize: vertical;
  min-height: 3rem;
  max-height: 5rem;
  overflow-y: scroll;
}

.consent {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 5px 0;
}

#consentMsg {
  margin: 0;
  font-size: 0.85rem;
}

#submitBtn {
  display: block;
  width: 100%;
  background-color: var(--custom-color);
  border: none;
  border-radius: 10px;
  color: var(--nature);
  font-weight: 700;
  font-size: 1rem;
  height: 2.5rem;
}

#submitBtn:hover,
#submitBtn:focus {
  background-color: var(--hover);
}

.form-control.success input,
.form-control.success textarea,
#consent.success input {
  border: 2px solid var(--sucess-color);
}

.form-control.error input,
.form-control.error textarea,
.radioContainer.error input {
  border: 1px solid var(--error-color);
}

small {
  color: var(--error-color);
  display: none;
  padding-top: 0.25rem;
}

.form-control.error small,
.radioContainer.error small,
#consent.error small {
  display: block;
}

@media (max-width: 605px) {
  .form-container {
    padding: 1rem;
    width: 75%;
  }

  #form {
    gap: 0.5rem;
  }

  #form-heading {
    font-size: 1.2rem;
  }

  .radioBox {
    flex-direction: column;
  }

  #requestSpan,
  #enquirySpan {
    width: 100%;
  }

  .consent {
    gap: 0.5rem;
  }
}
@media (max-width: 26.5rem) {
  .form-container {
    width: 85%;
  }
}

@media (max-width: 375px) {
  .form-container {
    width: 90%;
  }

  #form-heading {
    font-size: 1rem;
  }

  .consent {
    gap: 0.25rem;
  }

  label {
    font-size: 0.85rem;
  }
}

